node_modules
npm-debug.log
Dockerfile*
docker-compose*
.git
.gitignore
README.md
.env*
.nyc_output
coverage
.cache
dist
.docker
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
logs
*.log
uploads/*
!uploads/.gitkeep
